<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{session['user']}}, add a book!</h1>

    <form action="/book" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author">
        <label for="num_pages">Number of Pages:</label>
        <input type="number" name="num_pages" id="num_pages">
        <input type="hidden" name="secret" value="{{session['user_id']}}">
        <input type="submit" value="Add Book">
    </form>
    
</body>
</html>

