<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/{{user.id}}" method="post">
        <label for="user_name">Username:</label>
        <input type="text" name="username" id="user_name" value="{{user.username}}">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="{{user.email}}">
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" value="{{user.age}}">
        <label for="country">Country:</label>
        <input type="text" name="country" id="country" value="{{user.country}}">
        <input type="submit" value="Add User">
    </form>
</body>
</html>